/*GLOBAL*/
body{
    margin: 0;
    padding: 0;
    z-index: 1;
    width:100%;
    min-height:100%;
    background-color: black;
}

/*a:focus, button:focus, input:focus, h1:focus, h2:focus, h3:focus, p:focus, img:focus, figcaption:focus{
    outline: none;
}*/



/*NAV-BAR*/
#applestore{
    height: 35px;
    float: right;
    padding-top: 15px;
    margin-right: 3%;
}

#googleplay{
    height: 35px;
    float: right;
    padding-top: 15px;
    margin-right: 10px;
}

.line{
    text-align: center;
    background-color: #026c45;
    width: 100%;
    margin-top: 0;
    position:absolute;
    z-index: 2;
    height: 73px;
}
.line h1{
    margin: 0;
    color: white;
    text-decoration: overline;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    float:left;
    width: 60%;
    margin-left: 20%;
    position: absolute;
}
.line a{
    text-decoration: none;
    color:white;
}

.nav{
    width: 100%;
    text-align: center;
    z-index: 1;
    display: inline-block;
    position: absolute;
    background-color: #026c45;
    height: 50px;
    padding-top: 20px;
    margin-top: 68.4px;
}

.buttons{
    padding: 10px 20px 10px 20px;
    background-color: #53350A;
    color: white;
    text-align: center;
    margin: 50px 20px 0 20px;
    z-index: 3;
    text-decoration: none;
    font-size: 25px;
    border-radius: 25px;
    font-family: 'Indie Flower', cursive;
}

#logo{
    height: 181px;
    position:absolute;
    float:left;
    z-index: 2;
}

.buttons:hover{
    color: white;
    box-shadow: 0 5px 5px black;
    transition-duration: 0.3s;
    text-decoration: overline white;
}

#active{
    color:white;
    background-color: #03b775;
    box-shadow: 0 4px 4px black;
    text-decoration: overline white;
}

/*Footer*/
footer{
    background-color: rgba(0,0,0,0.9);
    height: 50px;
    width:100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer img{
    height:40px;
    margin-top:5px;
    margin-left: 75px;
}

footer p{
    width: 25%;
    float:right;
    font-family: 'Indie Flower', cursive;
    color:white;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    margin-right: 25%;
}

/*HOME-PAGE*/
.mainHome{
    position: absolute;
    margin-top: 130px;
    width: 100%;
}
#homepic1{
    float:right;
    width: 50%;
}

.mainQuote{
    float:left;
    background-repeat: no-repeat;
    width:50%;
    height: 50%;
    text-align:center;
}
.mainQuote h2{
    color: black;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 130px;
}
.mainQuote h3{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.mainQuote p{
    color:white;
    font-family: 'Indie Flower', cursive;
    margin-left: 20%;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#appicon{
    width: 80px;
}

.hometext{
    background-image: url(../Pictures/Helping-the-Poor.jpg);
    filter:grayscale(50%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    margin-top: 50%;
    background-color: grey;
    background-blend-mode: multiply;
}

.hometext2{
    padding: 50px 300px 50px 300px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 30px;
    line-height: 1.8;
    font-family: 'Roboto Slab', serif;
}

.mainhome2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 200px 30px 200px;
    line-height: 2;
    margin-bottom: 50px;
}

/*PROBLEM*/
.problem{
    width: 55%;
    padding: 200px 0 50px 80px;
    line-height: 1.5;
    position: absolute;
}
#povertyproblem{
    width: 600px;
    filter: grayscale(50%);
}
#climaproblem{
    width: 600px;
    filter: grayscale(70%);
}

.problem h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.problem h2{
    padding: 30px 0 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.holdinghands{
    width: 40%;
    float: right;
}

#hands{
    height: 100%;
    position: fixed;
    padding: 0px 0 0 0;
}


/*Our idea*/
.ourideatext{
    position: absolute;
}
.ourideatext h1{
    font-family: 'Roboto', sans-serif;
}
.ourideatext h3{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.ourideatext1{
    margin: 120px 0 0 500px;
    border-bottom-left-radius: 100px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 40px 10px 40px;
    line-height: 1.5;
}
.text1wp{
    background-image: url(../Pictures/povertyafrica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}


.ourideatext2{
    margin: 3.5% 35% 0 35%; 
    text-align: center;
    background-color:rgba(255,255,255,0.8);
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    z-index: 1;
    
}

#solution{
    text-align: center;
}

.ouridea{
    width: 100%;
    text-align: center;
}

.ouridea img{
    position: relative;
    z-index: 0;
    margin: 700px 0 0 0;
}


.column1{
    width: 35%;
    background-color:white;
    border-radius: 10px;
    text-align: center;
    margin-left: 144px;
    margin-top: 50px;
    height: 550px;
    float:left;
}

.column2{
    width: 35%;
    background-color:white;
    margin-right: 144px;
    border-radius: 10px;
    text-align: center;
    margin-top:50px;
    height: 550px;
    float:right;
}

.column3{
    float:left;
    width: 35%;
    background-color:white;
    margin-top: 50px;
    margin-left:144px;
    border-radius: 10px;
    text-align: center;
    height: 550px;
}

.column4{
    float:right;
    width: 35%;
    background-color:white;
    margin-top:50px;
    margin-right: 144px;
    border-radius: 10px;
    float: right;
    text-align: center;
    height: 550px;
    margin-bottom: 20px;
}

#pictitle{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#pictitle1{
     font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#pictitle2{
     font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#pictitle3{
     font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#description{
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

#description1{
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

#description2{
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

#description3{
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.howdoesitwork{
    margin: 1250px 250px 100px 250px;
    line-height: 2;
}

.howdoesitwork h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.howdoesitwork h3{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/*CONTACT US-PAGE*/
.sources{
    margin: 1190px 0 100px 10%;
    padding-bottom: 25px;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    width: 80%;
}

.sourcestitle{
    color: black;
    font-family: 'Indie Flower';
}

.sources h1{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    font-family: 'roboto', sans-serif;
}

.sources h2{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
}

.sources li{
    margin-left: 100px;
    margin-right: 100px;
}

.link li a{
    color: blue;
    line-height: 1.5;
}
.linkLast li a{
    color: blue;
    line-height: 1.5;
    margin-bottom: 20px;
}

.link li a:hover{
    text-decoration: underline;
}
.contactinformation{
    font-family: 'Indie Flower', cursive;
    padding: 0 0 0 0;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    margin: 200px 0 0 0;
    position: absolute;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}
.contactinformation h1{
    margin-left: 75px;
    margin-right: 75px;
    font-size: 40px;
    margin-top: 0;
}
.contactinformation h2{
    margin-left: 75px;
    margin-right: 75px;
    font-weight: normal;
    font-family: 'roboto', sans-serif;
}
.contactinformation span{
    font-weight: bold;
}
.contactinformation img{
    width: 15%;
    margin: 0 0 0 0
}

.socialmedia{
    padding: 20px 0 0 0;
}
.sources a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.sources p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
}

.sources h2{
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    font-weight: 5000;
}

.socialmedia img{
    margin: 0 15px 0 15px;
}

.profile{
    width: 80%;
    margin-top: 810px;
    margin-left: 10%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    position: absolute;
    text-align: center;
}

.profile1 img, .profile2 img, .profile3 img{
    width: 175px;
    border-radius: 50%;
    margin-top: 10px;
}

.personstext{ 
   /* column-count: 3; */
    width: 100%;
    text-align: center;
} 

.profile h2{
    font-family: 'indie flower', cursive;
    font-size: 40px;
    margin: 0;
}

.personstext p{
    width: 26.6%;
    margin-left: 5%;
    float:left;
    font-weight: bold;
    font-size: 25px;
    font-family: 'roboto', sans-serif;
}
.profile1, .profile2, .profile3{
    width: 26.6%;
    margin-left: 5%;
    text-align: center;
    float:left;
}
.profile3{
    margin-right: 5%;
}
.profile1 p, .profile2 p, .profile3 p{
    display:none;
    font-family: 'roboto', sans-serif;
}

/*Responsive menu*/
.dropdownresponsive{
    list-style-type:none;
    overflow:hidden;
    width:100%;
    float:left;
    display:none;
}

.dropdownmenu{
    display: inline-block;
}

.dropdownmenu img{
    width:100px;
}

.maindropdownmenu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.maindropdownmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    background-color: rgba(83,53,10,0.85) ;
    color: white;
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
    width:;
    padding: 30px 385.5px 30px 385.5px;
}

.maindropdownmenu a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
}

.maindropdownmenu a:hover{
    background-color: rgba(2,108,69,0.85);
    color:white;
    text-decoration: overline;
}

.activedrop{
    background-color: rgba(2,108,69,0.85);
    color:white;
    text-decoration: overline;
}

.dropdownmenu:hover .maindropdownmenu{
    display: block;
}

/*MEDIA-querys*/

/* I tried...funka faen ikkje*/
@media (max-width: 5000px) and (min-width:1660px){
    #appicon{
        width: 200px;
    }
    .mainQuote h2{
        font-size: 55px;
    }
    .mainQuote h3{
        font-size: 30px;
    }
}

@media(max-width: 1338px){
    .ouridea img{
        margin-top: 730px;
    }
}
@media(max-width: 1256px){
    .ouridea img{
        margin-top: 760px;
    }
}
@media(max-width: 1156px){
    footer p{
        width: 50%;
        margin-right: 0;
        text-align: center;
    }
    footer img{
        margin-left: 75px;
    }
}
@media(max-width: 1129px){
    .ouridea img{
        margin-top: 820px;
    }
}
@media(max-width: 1085px){
    .ouridea img{
        margin-top: 880px;
    }
}
@media(max-width: 1061px){
    .ouridea img{
        margin-top: 930px;
    }
}
@media(max-width: 1041px){
    .ouridea img{
        margin-top: 980px;
    }
}

@media(max-width: 1150px){
    .hometext2{
        padding: 50px 150px 50px 150px;
    }
}

@media(max-width: 1042px){
    .hometext2{
        padding: 50px 75px 50px 75px;
    }
}

@media only screen and
    (max-device-width: 768px){
    .dropdownresponsive{
        display:contents;
    }
    .dropdownresponsive img{
        margin-left: 25px;
    }
    #applestore{
        display:none;
    }
    #googleplay{
        display:none;
    }
    .line{
        height:100px;
    }
    .line h1{
        font-size: 125px;
        width:80%;
        margin-left:10%;
    }
    .nav{
        height:105px;
        padding-top: 47px;
        text-align: left;
    }
    .buttons{
        display: none;
    }
    #logo{
        height: 289px;
        margin-left:84%;
    }
    .mainQuote{
        width:100%;
        height: 900px;
        float: none;
    }
    .mainQuote h2{
        font-size: 65px;
        margin: 250px 100px 0 100px;
    }
    .mainQuote h3{
        font-size: 45px;
        margin: 50px 200px 0 200px;
    }
    #appicon{
        width: 23%;
        margin-top: 50px;
    }
    #homepic1{
        width: 100%;
        float:left;
        z-index: 1;
        position:relative;
        margin-top: 150px;
    }
    .hometext2 h1{
        text-shadow: 0 0 10px black;
        margin-top: 710px;
        
    }
    .hometext2{
        background-image:url(../Pictures/Helping-the-Poor.jpg);
        background-size:100%;
        filter:grayscale(20%);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .mainhome2{
        font-size: 30px;
        padding: 25px 75px 50px 75px;
    }
    footer{
        height: 100px;
        z-index: 99999999;
    }
    footer img{
        height:70px;
        margin-top: 15px;
        float:left;
        margin: 15px 0 0 100px
    }
    footer p{
        float:Right;
        width: 40%;
        font-size:40px;
        margin-top: 20px;
    }
    #hands{
        display: none;
    }
    .problem{
        width:80%;
        margin-left: 10%;
        padding: 0 0 0 0;
        margin-top: 250px;
        margin-bottom: 150px;
    }
    .problem h1{
        font-size: 70px;
    }
    .problem h2{
        font-size: 40px;
        padding: 50px 0 50px 0;
    }
    #povertyproblem, #climaproblem{
        width: 784px;
    }
    .text1wp{
        margin-top: 220px;
        padding:0;
    }
    .ouridea img{
        margin-top: 2125px;
        width: 100%;
    }
    .ourideatext2{
        margin-left: 20%;
        margin-right: 20%;
    }
    .ourideatext2 h1{
        font-size: 50px;
    }
    .ourideatext2 h3{
        font-size: 30px;
    }
    .column1{
        width: 80%;
        margin-left:10%;
        height: 1000px;
    }
    .column2{
        width: 80%;
        margin-right:10%;
        height: 1000px;
    }
    .column3{
        width: 80%;
        margin-left:10%;
        height: 1000px;
    }
    .column4{
        width: 80%;
        margin-right:10%;
        height: 1000px;
    }
    .appbakgrunn img{
        width: 400px;
    }
    .appbakgrunn figcaption{
        font-size: 40px;
        margin-top: 30px;
    }
    .howdoesitwork{
        width: 80%;
        margin: 0 0 200px 10%;
    }
    .howdoesitwork h3{
        font-size: 40px;
    }
    .howdoesitwork h1{
        font-size: 55px;
    }
    .ourideatext1{
        padding:0;
        width:100%;
        margin-left:0;
        border-radius: 0;
        padding-bottom: 35px;
    }
    .ourideatext h1{
        font-size: 60px;
        
    }
    .ourideatext h3{
        font-size: 35px;
        width:80%;
        margin-left: 10%;
    }
    #solution{
        padding-top:50px;
    }
    .contactinformation{
        width: 80%;
        margin-left: 10%;
        padding: 0;
        margin-top: 275px;
    }
    .contactinformation h1{
        font-size: 60px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .contactinformation h2{
        font-size: 40px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .contactinformation img{
        width: 20%;
        text-align: center;
        padding-bottom: 50px;
    }
    .profile{
        margin-top: 1400px;
        width: 80%;
        margin-left: 10%;
        padding: 0; 
    }
    .profile h2{
        font-size: 60px;
    }
    .personstext p{
        display: none;
    }
    .profile1{
        width: 100%;
        height: 320px;
        margin-top: 50px;
    }
    .profile2{
        width: 100%;
        height: 320px;
    }
    .profile3{
        width: 100%;
        height: 320px;
    }
    .profile1 p, .profile2 p, .profile3 p{
        display:contents;
        font-size: 45px;
        font-family: 'roboto', cursive;
        font-weight: bold;
    }
    .profile1 img{
        float:left;
        height: 250px;
        padding: 0;
        width: 250px;
    }
    .profile2 img{
        float:left;
        height: 250px;
        padding: 0;
        width: 250px;
    }
    .profile3 img{
        float:left;
        height: 250px;
        padding: 0;
        width: 250px;
    }
    .sources{
        width: 80%;
        margin-left: 10%;
        padding: 0;
        margin-top: 2625px;
        margin-bottom: 350px;
        padding-bottom: 200px;
    }
    .sources h1{
        font-size: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .sources a{
        font-size: 40px;
    }
    .sources li{
        margin-left: 100px;
        margin-right: 100px;
        font-size: 40px;
    }
    .sources h2{
        font-size: 70px;
        margin-left: 100px;
        margin-right: 100px;
    }
}












