/*GLOBAL*/
body{
    margin: 0;
    padding: 0;
}

/*NAV-BAR*/
#applestore{
    height: 35px;
    float: right;
    z-index: 3;
    margin: 0;
    padding: 12px 0 0 0;
}

#googleplay{
    width: 100px;
    float: right;
    z-index: 3;
    margin: 0;
    padding: 12px 4px 0 4px;
}

.line{
    text-align: center;
    background-color: #026c45;
    width: 100%;
    margin-top: 0;
    position:fixed;
    z-index: 2;
}
.line h1{
    margin: 0;
    color: white;
    text-decoration: overline;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}
.line a{
    text-decoration: none;
    color:white;
}

.nav{
    width: 100%;
    text-align: center;
    z-index: 1;
    display: inline-block;
    position: fixed;
    background-color: #026c45;
    height: 50px;
    padding-top: 20px;
    margin-top: 68.4px;
}

.buttons{
    padding: 10px 20px 10px 20px;
    background-color: #53350A;
    color: white;
    text-align: center;
    margin: 50px 20px 0 20px;
    z-index: 3;
    text-decoration: none;
    font-size: 25px;
    border-radius: 25px;
    font-family: 'Indie Flower', cursive;
}

#logo{
    height: 181px;
    position:fixed;
    float:left;
    z-index: 2;
}

.buttons:hover{
    color: white;
    box-shadow: 0 0 10px black;
    transition-duration: 0.3s;
    text-decoration: overline white;
}

#active{
    color:white;
    background-color: #03b775;
    box-shadow: 0 0 10px black;
    text-decoration: overline white;
}

/*HOME-PAGE*/
.mainHome{
    position: absolute;
    margin-top: 225px;
    width: 100%;
}
.mainHome img{
    width: 20%;
    margin-right: 15%;
    float:right;
    height: 400px;
    width: 500px;
    border-radius: 25px;
    margin-top: 100px;
}

.mainQuote{
    width: 30%;
    float:left;
    margin-left: 15%;
    background-repeat: no-repeat;
    height: 400px;
    width: 500px;
    border-radius: 25px;
}
.mainQuote h2{
    color: black;
    font-family: 'Indie Flower', cursive;
    padding: 15% 20% 0 20%;
    font-size: 40px;
    float: right;
    margin-bottom: 200px;
}
.mainQuote p{
    color:white;
    font-family: 'Indie Flower', cursive;
    margin-left: 20%;
    text-shadow: 0 0 5px black;
    font-size: 20px;
}




/*CONTACT US-PAGE*/
.sources{
    margin: 150px 0 0 80px;
    position: absolute;
    background-color:#026c45; 
    padding: 0 200px 20px 20px;
    border-radius: 25px;
}

.sourcestitle{
    color: white;
    font-family: 'Indie Flower';
}

.link li a{
    color: blue;
    line-height: 1.5;
}

.link li a:hover{
    text-decoration: underline;
}


/*PROBLEM*/
.problem{
    width: 55%;
    padding: 200px 0 50px 80px;
    line-height: 1.5;
    position: absolute;
}

.problem h1{
    font-weight: 700;
}

.problem h2{
    padding: 0 0 60px 0;
}

.holdinghands{
    width: 40%;
    float: right;
}

#hands{
    width: 460px;
    position: fixed;
    padding: 150px 0 0 0;
}


/*Our idea*/
.ourideatext{
    position: absolute;
}
.ourideatext1{
    margin: 120px 50px 0 450px;
    border-radius: 15px;
    background-color: white;
    padding: 10px 40px 10px 40px;
    line-height: 1.5;
}
.text1wp{
    background-image: url(../Pictures/povertyafrica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}


.ourideatext2{
    margin: 10px 400px 0 400px; 
    text-align: center;
}

#solution{
    text-align: center;
}

.ouridea{
    width: 100%;
    text-align: center;
}

.ouridea img{
    z-index: 1;
    padding: 590px 0 0 0;
}















